
.action-bar {
  z-index: 5000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;

  .actions {
    position: relative;

    .left {
      position: absolute;
      left: 0;
    }
    
    .right {
      position: absolute;
      right: 0;
    }
  }
}

.btn-spring, .btn-summer, .btn-autumn, .btn-winter {
  background-color: #fff;
}

.btn-spring {
  border: 1px solid #B4F9A5;

  &.active {
    background-color: #B4F9A5;
  }
}

.btn-summer {
  border: 1px solid #F3BC2E;

  &.active {
    background-color: #F3BC2E;
  }
}

.btn-autumn {
  border: 1px solid #D45B12;

  &.active {
    background-color: #D45B12;
  }
}

.btn-winter {
  border: 1px solid #B3DAF1;

  &.active {
    background-color: #B3DAF1;
  }
}

.hotkeys {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;

  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;

  ul {
    padding-left: 20px;
    margin-bottom: 0;
  }
}