
@font-face {
  font-family: "Libre Baskerville";
  src: url("/assets/fonts/LibreBaskerville-Regular.eot");
  src: url("/assets/fonts/LibreBaskerville-Regular.eot?#iefix") format('embedded-opentype'),
       url("/assets/fonts/LibreBaskerville-Regular.woff2") format('woff2'),
       url("/assets/fonts/LibreBaskerville-Regular.woff") format('woff'),
       url("/assets/fonts/LibreBaskerville-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* italic */
@font-face {
  font-family: "Libre Baskerville";
  src: url("/assets/fonts/LibreBaskerville-Italic.eot");
  src: url("/assets/fonts/LibreBaskerville-Italic.eot?#iefix") format('embedded-opentype'),
       url("/assets/fonts/LibreBaskerville-Italic.woff2") format('woff2'),
       url("/assets/fonts/LibreBaskerville-Italic.woff") format('woff'),
       url("/assets/fonts/LibreBaskerville-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* bold */
@font-face {
  font-family: "Libre Baskerville";
  src: url("/assets/fonts/LibreBaskerville-Bold.eot");
  src: url("/assets/fonts/LibreBaskerville-Bold.eot?#iefix") format('embedded-opentype'),
       url("/assets/fonts/LibreBaskerville-Bold.woff2") format('woff2'),
       url("/assets/fonts/LibreBaskerville-Bold.woff") format('woff'),
       url("/assets/fonts/LibreBaskerville-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Libre Baskerville", serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.conceptG text {
  pointer-events: none;
}

marker{
  fill: #333;
}

g.conceptG circle {
  fill: #F6FBFF;
  stroke: #333;
  stroke-width: 2px;
}

g.conceptG:hover circle {
  fill: rgb(200, 238, 241);
}

g.selected circle {
  fill: rgb(250, 232, 255);
}

g.selected:hover circle {
  fill: rgb(250, 232, 255);
}

path.link {
  fill: none;
  stroke: #333;
  stroke-width: 6px;
  cursor: default;
}

path.link:hover {
  stroke: rgb(94, 196, 204);
}

g.connect-node circle {
  fill: #BEFFFF;
}

path.link.hidden {
  stroke-width: 0;
}

path.link.selected {
  stroke: rgb(229, 172, 247);
}

.hidden {
  display: none;
}